Server/profind-backend/n8n-workflows/profind-telegram-notification.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outbox-event",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 240]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "eventType",
              "value": "={{ $json.body.eventType }}"
            },
            {
              "name": "studentId",
              "value": "={{ $json.body.payload.studentId }}"
            },
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json.body.payload) }}"
            }
          ]
        }
      },
      "name": "Pre-process",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [300, 240]
    },
    {
      "parameters": {
        "url": "={{ 'http://host.docker.internal:8081/api/auth/users/' + $json.studentId + '/contacts' }}",
        "options": {},
        "headerParametersJson": "=[{\"name\":\"X-App-Token\",\"value\":\"internal-secret-token\"}]"
      },
      "name": "Get User Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 240]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [700, 240]
    },
    {
      "parameters": {
        "rules": [
          {
            "value1": "={{ $json.eventType }}",
            "operation": "equal",
            "value2": "SUPERVISION_ACCEPTED"
          }
        ]
      },
      "name": "Check Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramChatId || '5693952467' }}",
        "text": "=[ProFind] {{ $json.eventType }}\n\nHello {{ $json.fullName || 'User' }},\nYour request status has been updated!\n\nDetails: {{ $json.payload }}",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 180],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "={{ { status: 'ok', eventId: $json.eventId } }}"
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 240]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Pre-process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-process": {
      "main": [
        [
          {
            "node": "Get User Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get User Data": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Check Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
